name: sanity-tests

on:
  [push, pull_request]

jobs:
  sanity:
    timeout-minutes: 30
    name: Sanity (${{ matrix.versions.ansible }})
    strategy:
      fail-fast: false
      matrix:
        versions:
          - ansible: stable-2.14
          - ansible: stable-2.15
          - ansible: stable-2.16
          - ansible: stable-2.17
          - ansible: devel
    runs-on: ubuntu-latest
    steps:
      - name: Do sanity tests
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          ansible-core-version: ${{ matrix.versions.ansible }}
          testing-type: sanity
